.detailContainer {
    max-width: 60em;
    margin: 3em 4em;
    padding: 3em;
    background-color: $french-raspberry;
    border: 4px solid $russian-violet;
    @include link;
    @include button;

    p {
        margin-bottom: 1.9em;
    }

    .imgContainer {
        width: inherit;
        margin-top: inherit;
        img {
            width: 100%;
            border: 4px solid $russian-violet;
        }
    }
}