@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");

$chinese-silk: #f5d0c5;
$russian-violet: #231651;
$french-raspberry: #ce2d4f;
$japanese-wisteria: #9893DA;
$border: 3px solid $russian-violet;
$border-padding: 10px 20px;

body {
  font-family: "ABeeZee", sans-serif;
  background-color: $chinese-silk;
  color: $russian-violet;

  #root {
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 300px;
        min-height: 200px;

        margin-right: 2em;
        margin-top: 1.8em;
        padding: 15px;

        background-color: $french-raspberry;
        border: 4px solid $russian-violet;
        div {
            min-height: 120px;
        }
        a {
          text-decoration: none;
          color: inherit;
          margin-top: 5px;
          padding: 10px 20px;
          border: 4px dotted $russian-violet;
          transition: 0.2s;

          &:hover {
            text-decoration: underline;
            background-color: $japanese-wisteria;
            border: 4px solid $russian-violet;
          }
        }
      }
    }
  }
}
