@import "/src/styling/tools/variables";
@import "/src/styling/tools/mixins";
@import "/src/styling/animal";

body {
  font-family: $font;
  letter-spacing: 0.5px;
  line-height: 140%;
  background-color: $chinese-silk;
  color: $russian-violet;

  #root {
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 300px;
        min-height: 200px;

        margin-right: 2em;
        margin-top: 1.8em;
        padding: 15px;

        background-color: $french-raspberry;
        border: 4px solid $russian-violet;
        div {
            min-height: 120px;
        }
        @include link;
      }
    }
  }
}
