@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");

$font: "ABeeZee", sans-serif;

$chinese-silk: #f5d0c5;
$russian-violet: #231651;
$french-raspberry: #ce2d4f;
$japanese-wisteria: #9893DA;
$border: 3px solid $russian-violet;
$border-padding: 10px 20px;